Source: u8glib
Priority: optional
Maintainer: David Lechner <david@lechnology.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.5
Section: libs
Homepage: https://code.google.com/p/u8glib/
Vcs-Git: git://github.com/ev3dev-dpkg/u8glib.git
Vcs-Browser: https://github.com/ev3dev-dpkg/u8glib

Package: libu8g-dev
Section: libdevel
Architecture: any
Depends: libu8g1 (= ${binary:Version}), ${misc:Depends}
Description: Graphics library for simple displays
 Graphics library that targets small LCD displays generally used with
 microcontrollers.
 .
 This package contiains development files for libu8g.

Package: libu8g1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Graphics library for simple displays
 Graphics library that targets small LCD displays generally used with
 microcontrollers.
